html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { height: 100% }

#container {
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header {
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#content {
	float: left;
	width: 100%;
}

#map-container {
	clear: left;
	float: left;
	width: 70%;
	margin: 0 0 0 0;
	display: inline;
}

#map {
	width: 100%;
	min-height: 100px;
}

.options {
	display: none;
}

#tools {
	float: right;
	width: 28%;
	margin: 0 0 0 0;
	display: inline;
}

button.inprogress{
	background-color: red;
}

textarea.reason {
	width: 90%;
}

select {
	width: 90%;
}

button.red, button.green, button.orange {
	width: 30%;
}

button.red {
	background-color: red;
}

button.green {
	background-color: green;
}

button.orange {
	background-color: #FFBF00;
}
